.answer{
    width: 300px;
    height: 160px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #333333;
    
}

.back {
    transform: rotateY(180deg);
}

@media (min-width: 1280px){
    .answer{
        width: 570px;
        height: 160px;
        font-size: 28px;
        line-height: 30px;
        align-items: flex-start;
    }
}  
